
<mat-card class="m-card">
  <mat-card-header class="m-card-h">
    <mat-card-title class="m-card-t">Sign in</mat-card-title>
  </mat-card-header>
  
  <mat-card-content>
    <form class="form-register">
      <p>
        <mat-form-field class="inp-register" appearance="legacy">
          <mat-label>Name</mat-label>
          <input [(ngModel)]="persons.email" class="input" 
            matInput placeholder="Enter your username" name="email"
            autofocus required>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="inp-register" appearance="legacy">
          <mat-label>Password</mat-label>
            <input [(ngModel)]="persons.password" matInput 
              [type]="hide ? 'password' : 'text'" placeholder="Enter your password"
              name="password" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
      </p>
    </form>
  </mat-card-content>

  <mat-card-actions class="m-card-act">
    <button class="btn-reg btn-can" mat-raised-button routerLink="/">Cancel</button>
    <button class="btn-reg" mat-raised-button color="primary" (click)="login()">Sign In</button>
  </mat-card-actions>
</mat-card>