<mat-toolbar color="primary">
  <mat-toolbar-row>

    <ul class="ul">
      <li *ngIf="authService.hasRole('ROLE_ADMIN')"><app-menu></app-menu></li>
      <li>
        <button mat-button class="outline title" routerLink="/home">{{ title }}</button>
      </li>
      <li *ngIf="authService.hasRole('ROLE_USER')">
        <button mat-button class="outline title" routerLink="/form-orders" >Order</button>
      </li>
    </ul>

    <div class="flex-spacer"></div>
    <button *ngIf="!authService.isAuthenticated()" mat-button  class="outline title" routerLink="/login">
      Sign in
      <i class="material-icons">account_circle</i>
    </button>

    <button *ngIf="authService.isAuthenticated()" mat-button [matMenuTriggerFor]="menu">
      {{authService.person.name}}
      <span class="material-icons">
        keyboard_arrow_down
      </span>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/my-orders">MyOrders</button>
      <button mat-menu-item (click)="logout()">
        Sign out
      </button>
    </mat-menu>

    
  </mat-toolbar-row>
</mat-toolbar>