<br>
<div class="table-center">
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-list">

    <!-- Position Column -->
    <ng-container matColumnDef="No">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element, index as i"> {{i + 1}} </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Order ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="serviceid">
      <th mat-header-cell *matHeaderCellDef> Service </th>
      <td mat-cell *matCellDef="let element"> {{element.serviceid}} </td>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef >Actions</th>
      <td mat-cell *matCellDef="let element">
        <!--<star-rating-comp [starType]="'svg'" [rating]="3"></star-rating-comp>-->
        <button class="bt-edit" mat-raised-button (click)="Edit(element)" color="primary">Edit</button>
        <button class="bt-edit" mat-raised-button (click)="AddPersonal(element)" color="primary">
          <i class="material-icons"> add_circle_outline </i>
          Personal
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
