<mat-card class="m-card">
  <mat-card-header class="m-card-h">
    <mat-card-title class="m-card-t">New Service</mat-card-title>
  </mat-card-header>
  
  <mat-card-content>
    <form class="form-register">
      <p>
        <mat-form-field class="inp-register" appearance="legacy">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Enter your service" name="name"
          [(ngModel)]="services.name" required>
        </mat-form-field>
      </p>
    </form>
  </mat-card-content>

  <mat-card-actions class="m-card-act">
    <button class="btn-reg" mat-raised-button color="primary" (click)="Create()">Create</button>
  </mat-card-actions>
</mat-card>

